@font-face {
  font-family: "Digit";
  src: url("fonts/DS-DIGIT.TTF");
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  max-width: 480px;
  padding: 3rem;
}

.display-wrapper {
  font-family: Digit, sans-serif;
  text-align: end;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 1px solid grey;
}

.display {
  font-size: 4rem;
  overflow-x: scroll;
}

.info-display {
  font-size: 2.5rem;
  min-height: 2.5rem;
}

.btn-container {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
}
